body{
    background-color: #303030;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
}

header{
    text-align: center;
    align-items: center;
}

.oriontitle{        
    font-weight: bold;
    font-size: 60pt;
    color: rgb(165, 15, 15);
    border-bottom: white solid 2px;
    width: 50%;
    margin-top: 1.5cm;
    margin-left: auto;
    margin-right: auto;
}
.centreimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 100%;
}




/*Classes pour le nav*/

nav{
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #1f1b1b;
    padding: 4px;
}

.navig{
    font-size: 30px;
    display: flex;
}

.boite :hover{
    color: gold;
    transform: translateY(-5px);
}
.flexbox{
    display: flex;
    flex-direction: row;
}

.boite{
    display: flex;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background-color: brown;
    color: white;
}


.flexbox a{  /*Cible tout les liens "a" qui se trouve dans la classe navig (le > indique que les classes internes ne sont pas ciblées)*/ 
    transition: 150ms ease-in-out;
    color: white;
    text-decoration: none;
}

/*Fin des classes pour le nav*/

.modlist{
    width: 50%;
    
}