body{
    background-color: #303030;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    align-items: center;
}

.oriontitle{        
    font-weight: bold;
    font-size: 60pt;
    color: rgb(165, 15, 15);
    border-bottom: white solid 2px;
    width: 50%;
    margin-top: 1.5cm;
    margin-left: auto;
    margin-right: auto;
}

.centreimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 100%;
}

/*Classes pour le nav*/

nav{
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #1f1b1b;
    padding: 4px;
}

.boite :hover, .boiteprincipale :hover, .boitesolo :hover{
    color: gold;
    transform: translateY(-5px);
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.boiteprincipale{
    display: flex;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-size: 38px;
    font-weight: bold;
    border-bottom: white solid 2px;
}

.boite{
    display: flex;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-size: 24px;
    width: auto;
}

.boitesolo{
    display: flex;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-size: 24px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.flexbox a{  /*Cible tout les liens "a" qui se trouve dans la classe navig (le > indique que les classes internes ne sont pas ciblées)*/ 
    transition: 150ms ease-in-out;
    color: white;
    text-decoration: none;
    margin: auto;
    margin-bottom: 2px;
    margin-top: 2px;
}

/*Fin des classes pour le nav*/

.modtitle{
    font-weight: bold;
    font-size: 30pt;
    width: 75%;
    border-bottom: white solid 2px;
    margin-bottom: 1.5cm;
    margin-top: 1.5cm;
    text-align: center;
}

.modlogo{
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

.box{
    width: 75%;
    margin: 2px;
    padding: 5px;
    overflow: auto;
}

li{
    margin-bottom: 5px;
}

td, th{
    border: 2px solid black;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 75%;
}

p{
    word-wrap: break-word;
}

@media (max-width: 640px)
{
    .oriontitle{
        font-size: 40px;
    }
}